@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  color: #404040;
  text-decoration: none;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul, li {
  list-style: none;
  color: #404040;
}

body {
  color: #404040;
  font-family: "Inter", sans-serif;
}